/* provisoire */
html {
    background-color: grey;
}
body {
    /* min-width: 600px; */
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    /* text-shadow: rgb(226, 226, 226) 0px 1px; */
}

hr {
    border: 1px solid black;
    width: 20%;
    margin: 2% auto;
}
p {
    /* padding-top: 4%; */
    font-size: 60%;
}


/* h */
h1, h2, h3, h4 {
    font-weight: 600;
    text-align: center;
}
h5, h6, p {
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3%;
}

/* CONTAINERS */
.part-container, .central-container, div, section, figure {
    /* border: 1px solid black; */
    padding: 1%;
}
.part-container-black {
    background-color: black;
    color: white;
}
.part-container-white {
    background-color: white;
}
.part-container-img {
    background-color: teal;
    background-size: 100% 100%;
    background-clip: border-box;
}

.central-container {
    /* border: 1px solid black; */
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.central-container > section, .central-container > * {
    margin: 0 auto;
}

/* SECTIONHEADER */
.section-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}
.section-header h4 {
    margin: 0 auto 2% auto;
}
.section-header hr {
    margin-bottom: 6%;
}
.section-header p {
    padding: 0;
    padding-bottom: 1%;
    color: rgb(119, 119, 119);
}
/* BUTTONS */
.button-transparent, .button-black {
    min-width: max-content;
    width: 100px;
    border-radius: 1px;
    padding: 2% 4%;
    font-size: 50%;
    font-weight: bolder;
}
.button-transparent {
    background-color: transparent;
    border: 1px solid rgb(119, 119, 119);
    margin-bottom: 1%;
}
.button-black {
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-bottom: 1%;
}
#button-menu {
    background-clip: content-box;
    background-image: url("ressources/serious/icon-menu.gif");
    background-color: transparent;
    border: none;
    grid-column: 3;
    width: max-content;
    height: max-content;
    justify-self: start;
}
#button-download {
    border: white;
    font-size: 50%;
    font-weight: normal;
    padding: 1%;
}
#button-start {
    margin: 0 auto; 
    padding: 2% 4%;
    font-weight: bold;
    color: white;
    border: 1px solid black;
}
/* IMG */
figure {
    margin: 0;
}
.logo img, .img-logo {
    background-size: 20px 20px;
    width: 40px;
    height: 40px;
}
.icon {
    width: 30%;
    margin: 0;
    text-align: center;
}
.icon figcaption {
    color: rgb(116, 116, 116);

}
.img-icon {
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    justify-self: center;
}

.caption-logo {
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
}

figure figcaption, div figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5mm;
    margin: 2% -20%;
}

