/*  bordures provisoires    */
/* h1, h3, section, header, footer, nav {
    border: 1px solid rgb(21, 22, 21);
} */
.part_container {
    width: 100%;
}

/* HEADER */
#part_header{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#container_header {
    background-color: #808080;
    height: 400px;
}

#section_menu {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#button_menu {
    width: max-content;
    height: max-content;
    align-self: center;
}

#section_accroche {
    /* border: 1px solid white; */
    width: 100%;
    height: 90%;

}
#div_accroche {
    /* border: 1px solid white; */
    width: max-content;
    height: max-content;
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#div_accroche > h5, h1, div {
    text-align: center;
}
#start_button {
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}

#section_download {
    color: white;
    background-color: black;
    width: 100%;
    height: 10%;
    padding: 2% 0;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#button_download {
    border-radius: 10px;
    width: 100px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

#container_portfolio {
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#section_title {
    background-color: blueviolet;
    width: 33%;
    height: max-content;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}
#section_texte {
    width: 57%;
    margin-left: auto;
    margin-right: auto;
}
#section_buttons {
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
#section_images {
    
}